interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dadosabertos.camara.leg.br/api/v2/deputados?ordem=ASC&ordenarPor=nome&itens=100&siglaUf=DF&idLegislatura=57
  response:
    body:
      string: '{"dados":[{"id":73579,"uri":"https://dadosabertos.camara.leg.br/api/v2/deputados/73579","nome":"Alberto
        Fraga","siglaPartido":"PL","uriPartido":"https://dadosabertos.camara.leg.br/api/v2/partidos/37906","siglaUf":"DF","idLegislatura":57,"urlFoto":"https://www.camara.leg.br/internet/deputado/bandep/73579.jpg","email":"dep.albertofraga@camara.leg.br"},{"id":204374,"uri":"https://dadosabertos.camara.leg.br/api/v2/deputados/204374","nome":"Bia
        Kicis","siglaPartido":"PL","uriPartido":"https://dadosabertos.camara.leg.br/api/v2/partidos/37906","siglaUf":"DF","idLegislatura":57,"urlFoto":"https://www.camara.leg.br/internet/deputado/bandep/204374.jpg","email":"dep.biakicis@camara.leg.br"},{"id":160575,"uri":"https://dadosabertos.camara.leg.br/api/v2/deputados/160575","nome":"Erika
        Kokay","siglaPartid[...]
