interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dadosabertos.camara.leg.br/api/v2/votacoes?ordem=DESC&ordenarPor=dataHoraRegistro&itens=100&dataInicio=2026-04-01
  response:
    body:
      string: "{\"dados\":[{\"id\":\"2483732-69\",\"uri\":\"https://dadosabertos.camara.leg.br/api/v2/votacoes/2483732-69\",\"data\":\"2026-04-08\",\"dataHoraRegistro\":\"2026-04-08T21:06:53\",\"siglaOrgao\":\"PLEN\",\"uriOrgao\":\"https://dadosabertos.camara.leg.br/api/v2/orgaos/180\",\"uriEvento\":\"https://dadosabertos.camara.leg.br/api/v2/eventos/81545\",\"proposicaoObjeto\":null,\"uriProposicaoObjeto\":null,\"descricao\":\"Aprovada
        a Reda\xE7\xE3o Final assinada pelo relator, Dep. Alceu Moreira (MDB/RS).\",\"aprovacao\":1},{\"id\":\"2483732-66\",\"uri\":\"https://dadosabertos.camara.leg.br/api/v2/votacoes/2483732-66\",\"data\":\"2026-04-08\",\"dataHoraRegistro\":\"2026-04-08T21:06:19\",\"siglaOrgao\":\"PLEN\",\"uriOrgao\":\"https://dadosabertos.camara.leg.br/api/v2/orgaos/180\",\"uriEvento\":\"https://dadosabertos.camara.leg.br/api/v2/eventos/81545\",\"proposicaoObjeto\":null,\"uriProposicaoObjeto\":null,\"descricao\":\"Rejeitada
        a Emenda de Plen\xE1rio n\xBA 7.\",\"aprovacao\":0},{\"id\":\"2483732-64\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dadosabertos.camara.leg.br/api/v2/votacoes/2483732-69/votos
  response:
    body:
      string: '{"dados":[],"links":[{"rel":"self","href":"https://dadosabertos.camara.leg.br/api/v2/votacoes/2483732-69/votos"}]}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '30'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dadosabertos.camara.leg.br/api/v2/votacoes/2162116-169/votos
  response:
    body:
      string: "{\"dados\":[{\"tipoVoto\":\"Sim\",\"dataRegistroVoto\":\"2026-04-08T20:27:11\",\"deputado_\":{\"id\":198783,\"uri\":\"https://dadosabertos.camara.leg.br/api/v2/deputados/198783\",\"nome\":\"Emanuel
        Pinheiro Neto\",\"siglaPartido\":\"PSD\",\"uriPartido\":\"https://dadosabertos.camara.leg.br/api/v2/partidos/36834\",\"siglaUf\":\"MT\",\"idLegislatura\":57,\"urlFoto\":\"https://www.camara.leg.br/internet/deputado/bandep/198783.jpg\",\"email\":\"dep.emanuelpinheironeto@camara.leg.br\"}},{\"tipoVoto\":\"Sim\",\"dataRegistroVoto\":\"2026-04-08T20:26:11\",\"deputado_\":{\"id\":160558,\"uri\":\"https://dadosabertos.camara.leg.br/api/v2/deputados/160558\",\"nome\":\"Paulo
        Freire Costa\",\"siglaPartido\":\"PL\",\"uriPartido\":\"https://dadosabertos.camara.leg.br/api/v2/partidos/37906\",\"siglaUf\":\"SP\",\"idLegislatura\":57,\"urlFoto\":\"https://www.camara.leg.br/internet/deputado/bandep/160558.jpg\",\"email\":\"dep.paulofreirecost[...]
