interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dadosabertos.camara.leg.br/api/v2/votacoes?ordem=DESC&ordenarPor=dataHoraRegistro&itens=100&dataInicio=2026-04-01
  response:
    body:
      string: "{\"dados\":[{\"id\":\"2483732-69\",\"uri\":\"https://dadosabertos.camara.leg.br/api/v2/votacoes/2483732-69\",\"data\":\"2026-04-08\",\"dataHoraRegistro\":\"2026-04-08T21:06:53\",\"siglaOrgao\":\"PLEN\",\"uriOrgao\":\"https://dadosabertos.camara.leg.br/api/v2/orgaos/180\",\"uriEvento\":\"https://dadosabertos.camara.leg.br/api/v2/eventos/81545\",\"proposicaoObjeto\":null,\"uriProposicaoObjeto\":null,\"descricao\":\"Aprovada
        a Reda\xE7\xE3o Final assinada pelo relator, Dep. Alceu Moreira (MDB/RS).\",\"aprovacao\":1},{\"id\":\"2483732-66\",\"uri\":\"https://dadosabertos.camara.leg.br/api/v2/votacoes/2483732-66\",\"data\":\"2026-04-08\",\"dataHoraRegistro\":\"2026-04-08T21:06:19\",\"siglaOrgao\":\"PLEN\",\"uriOrgao\":\"https://dadosabertos.camara.leg.br/api/v2/orgaos/180\",\"uriEvento\":\"https://dadosabertos.camara.leg.br/api/v2/eventos/81545\",\"proposicaoObjeto\":null,\"uriProposicaoObjeto\":null,\"descricao\":\"Rejeitada
        a Emenda de Plen\xE1rio n\xBA 7.\",\"aprovacao\":0},{\"id\":\"2483732-64\"[...]
