interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://divulgacandcontas.tse.jus.br/divulga/rest/v1/candidatura/listar/2022/DF/2040602022/6/candidatos
  response:
    body:
      string: "{\"unidadeEleitoral\":{\"id\":null,\"sigla\":\"DF\",\"nome\":\"DISTRITO
        FEDERAL\",\"regiao\":null,\"cargos\":null,\"diretorios\":null,\"codigo\":\"DF\",\"capital\":false,\"estado\":\"BRASIL\"},\"cargo\":{\"codigo\":6,\"sigla\":null,\"nome\":\"Deputado
        Federal\",\"codSuperior\":0,\"titular\":false,\"contagem\":0},\"candidatos\":[{\"id\":70001621230,\"nomeUrna\":\"ADALBERTO
        MONTEIRO\",\"numero\":1921,\"idCandidatoSuperior\":null,\"nomeCompleto\":\"ADALBERTO
        MONTEIRO\",\"descricaoSexo\":null,\"dataDeNascimento\":null,\"tituloEleitor\":\"006292552003\",\"cpf\":null,\"descricaoEstadoCivil\":null,\"descricaoCorRaca\":null,\"descricaoSituacao\":\"Deferido\",\"nacionalidade\":null,\"grauInstrucao\":null,\"ocupacao\":null,\"gastoCampanha1T\":null,\"gastoCampanha2T\":null,\"sgUfNascimento\":null,\"nomeMunicipioNascimento\":null,\"localCandidatura\":null,\"ufCandidatura\":\"DF\",\"ufSuperiorCandidatura\":null,\"codigoSituacaoCandidatoSuperior\":12,\"dataUltimaAtualizacao\":null,\"fotoUrl\":null,\"fotoUrlPublicavel\":false,\"fotoDataUltimaAtualizacao\":null,\"descricaoTotalizacao\":\"N\xE3o
        eleito\",\"nomeColigacao\":\"PODE\",\"composicaoColigacao\":null,\"descricaoTipoDrap\":null,\"numeroProcessoDrap\":null,\"numeroProcessoDrapEncrypt\":null,\"numeroProcesso\":null,\"numeroProcessoEncrypt\":null,\"numeroProcessoPrestContas\":null,\"numeroProcessoPrestContasEncrypt\":null,\"numeroProtocolo\":null,\"processosCassacao\":null,\"processosDesconstituicao\":null,\"cargo\":{\"codigo\":6,\"sigla\":null,\"nome\":\"Deputado
        Federal\",\"codSuperior\":0,\"titular\":true,\"contagem\":0},\"bens\":null,\"totalDeBens\":null,\"vices\":null,\"partido\":{\"numero\":0,\"sigla\":\"PODE\",\"nome\":null,\"sqPrestadorConta\":null},\"eleicao\":{\"id\":2040602022,\"siglaUF\":null,\"localidadeSgUe\":null,\"ano\":2022,\"codigo\":null,\"nomeEleicao\":null,\"tipoEleicao\":null,\"turno\":null,\"tipoAbrangencia\":null,\"dataEleicao\":null,\"codSituacaoEleicao\":null,\"descricaoSituacaoEleicao\":null,\"descricaoEleicao\":\"2022\"},\"emails\":null,\"sites\":null,\"arquivos\":null,\"eleicoesAnteriores\":null,\"substituto\":null,\"motivos\":null,\"motivoSituacao\":null,\"codigoSituacaoCandidato\":null,\"descricaoSituacaoCandidato\":null,\"isCandidatoInapto\":null,\"codigoSituacaoPartido\":null,\"descricaoSituacaoPartido\":null,\"isCandFechado\":null,\"infoComplementar\":null,\"cdSituacaoCassacao\":null,\"cdSituacaoDiploma\":null,\"legenda\":null,\"cnpjcampanha\":null,\"descricaoNaturalidade\":\"null-null\",\"gastoCampanha\":0.0,\"st_SUBSTITUIDO\":null,\"st_MOTIVO_FICHA_LIMPA\":null,\"st_MOTIVO_ABUSO_PODER\":null,\"st_MOTIVO_COMPRA_VOTO\":null,\"st_MOTIVO_CONDUTA_VEDADA\":null,\"st_MOTIVO_GASTO_ILICITO\":null,\"ds_MOTIVO_OUTROS\":null,\"st_MOTIVO_AUSENCIA_REQUISITO\":null,\"st_MOTIVO_IND_PARTIDO\":null,\"st_DIVULGA\":null,\"st_DIVULGA_BENS\":null,\"st_REELEICAO\":false,\"st_DIVULGA_ARQUIVOS\":null,\"candidatoApto\":true},{\"id\":70001607810,\"nomeUrna\":\"ADERIVALDO
        CARDOSO\",\"numero\":3333,\"idCandidatoSuperior\":null,\"nomeCompleto\":\"ADERIVALDO
        MARTINS CARDOSO\",\"descricaoSexo\":null,\"dataDeNascimento\":null,\"tituloEleitor\":\"011782972089\",\"cpf\":null,\"descricaoEstadoCivil\":null,\"descricaoCorRaca\":null,\"descricaoSituacao\":\"Deferido\",\"nacionalidade\":null,\"grauInstrucao\":null,\"ocupacao\":null,\"gastoCampanha1T\":null,\"gastoCampanha2T\":null,\"sgUfNascimento\":null,\"n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://divulgacandcontas.tse.jus.br/divulga/rest/v1/candidatura/buscar/2022/DF/2040602022/candidato/70001621230
  response:
    body:
      string: "{\"id\":70001621230,\"nomeUrna\":\"ADALBERTO MONTEIRO\",\"numero\":1921,\"idCandidatoSuperior\":0,\"nomeCompleto\":\"ADALBERTO
        MONTEIRO\",\"descricaoSexo\":\"MASC.\",\"dataDeNascimento\":\"1948-01-18\",\"tituloEleitor\":\"006292552003\",\"cpf\":null,\"descricaoEstadoCivil\":\"C[...]
