interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://divulgacandcontas.tse.jus.br/divulga/rest/v1/eleicao/ordinarias
  response:
    body:
      string: "[{\"id\":2045202024,\"siglaUF\":null,\"localidadeSgUe\":null,\"ano\":2024,\"codigo\":null,\"nomeEleicao\":\"Elei\xE7\xF5es
        Municipais 2024\",\"tipoEleicao\":\"O\",\"turno\":null,\"tipoAbrangencia\":\"M\",\"dataEleicao\":\"2024-10-06\",\"codSituacaoEleicao\":null,\"descricaoSituacaoEleicao\":null,\"descricaoEleicao\":\"2024\"},{\"id\":2040602022,\"siglaUF\":null,\"localidadeSgUe\":null,\"ano\":2022,\"codigo\":null,\"nomeEleicao\":\"Elei\xE7\xE3o
        Geral Federal 2022\",\"tipoEleicao\":\"O\",\"turno\":null,\"tipoAbrangencia\":\"F\",\"dataEleicao\":\"2022-10-02\",\"codSituacaoEleicao\":null,\"descricaoSituacaoEleicao\":null,\"descricaoEleicao\":\"2022\"},{\"id\":2032002020,\"siglaUF\":null,\"localidadeSgUe\":null,\"ano\":2020,\"codigo\":null,\"nomeEleicao\":\"Elei\xE7\xF5es
        Municipais 2020 - AP\",[...]
