interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://divulgacandcontas.tse.jus.br/divulga/rest/v1/eleicao/listar/municipios/2040602022/DF/cargos
  response:
    body:
      string: "{\"unidadeEleitoralDTO\":{\"id\":null,\"sigla\":\"DF\",\"nome\":\"DISTRITO
        FEDERAL\",\"regiao\":null,\"cargos\":null,\"diretorios\":null,\"codigo\":\"DF\",\"capital\":false,\"estado\":\"BRASIL\"},\"cargos\":[{\"codigo\":3,\"sigla\":null,\"nome\":\"Governador\",\"codSuperior\":0,\"titular\":false,\"contagem\":12},{\"codigo\":4,\"sigla\":null,\"nome\":\"Vice-governador\",\"codSuperior\":0,\"titular\":false,\"contagem\":13},{\"codigo\":5,\"sigla\":null,\"nome\":\"Senador\",\"codSuperior\":0,\"titular\":false,\"contagem\":13},{\"codigo\":6,\"sigla\":null,\"nome\":\"Deputado
        Federal\",\"codSuperior\":0,\"titular\":false,\"contagem\":215},{\"codigo\":8,\"sigla\":null,\"nome\":\"Deputado
        Distrital\",\"codSuperior\":0,\"titular\":false,\"contagem\":608},{\"codigo\":9,\"sigla\":null,\"nome\":\"1\xBA
        Suplente\",\"codSuperior\":0,\"titular\":false,\"contagem\":15},{\"codigo\":10,\"sigla\":null,\"nome\":\"2\xBA
        Suplente\",\"codSuperior\":0,\"titular\":false,\"contagem\":16}]}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
